Flask==1.1.2
idna==2.10
Pillow==7.2.0
WTForms==2.3.3
pip~=20.1.1
certifi~=2020.6.20
setuptools~=47.1.0
itsdangerous~=1.1.0
cryptography~=3.1
py~=1.9.0
keyring~=20.0.1
pkginfo~=1.5.0.1
chardet~=3.0.4
urllib3~=1.25.10
SQLAlchemy~=1.3.19